@charset "UTF-8";

:root {
    --primary-color-blue: #65daf9;
    --second-color-blue: #3ec1d5;
    --third-color-blue: #4597d1;
    --fourth-color-blue: #032d5f;
    --primary-color-gray: #353d41;
    --second-color-gray: #7a7a7a;
    --primary-color-dark: #050505;

    --gradient-blue: linear-gradient(135deg, var(--third-color-blue) 0%, var(--fourth-color-blue) 100%);
    
}


/* GERAIS */

body {
    font-family: 'Roboto', 'sans-serif';
}

.container {
    padding: 70px 0;
}

.row {
    margin: 0;
}

p, li {
    color: #444;
    font-size: 14px;
}

/* NAV */

header, .navbar {
    background-image: linear-gradient(to top, #303030, #000);
}

.navbar {
    height: 60px;            /* altura fixa da navbar */
    display: flex;
    align-items: center;     /* centraliza verticalmente */
}

.navbar-custom {
    background: transparent;
    transition: background-color 0.3s ease;
}

.navbar-scrolled {
    background-color: #000;
}

#nav-container {
    padding-top: 0;
    padding-bottom: 0;
}

#logo {
    max-height: 120px;   /* controla a altura máxima */
    width: auto;        /* mantém a proporção */
    margin-left: 10px;  /* opcional, espaçamento da borda esquerda */
}

.navbar-brand {
    padding: 0;
    color: #fff;
}

.navbar-brand:hover {
    color: #fff;
    transition: .5s;
}

.nav-link {
    position: relative; /* cria referência para o ::after */
    display: inline-block; /* garante que o ::after não "escape" */
    padding-bottom: 5px; /* espaço pro underline não colar no texto */
}

.nav-link:hover {
    color: var(--primary-color-blue);
    transition: .5s;
}

.nav-link::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    left: 50%;
    bottom: 0;
    background: var(--gradient-blue);
    transition: all 0.3s ease;
}

.nav-link:hover::after {
    width: 100%;
    left: 0;
}

.login {
    text-decoration: none;
    color: #fff;
    padding: 8px;
}

.login:hover {
    color: var(--primary-color-blue);
    transition: .5s;
}


.navbar-expand-lg .navbar-nav .navlink {
    padding: 1rem .8rem;
}

/* SLIDER */

.container-fluid {
    padding: 0;
}

.carousel-indicators[data-bs-target] {
    background-color: #222;
    opacity: 0.8;
}

#mainSlider .carousel-inner, #mainSlider .carousel-item {
    height: 90vh;
}

#mainSlider .carousel-caption {
    top: 30%;
}

#mainSlider .carousel-caption h2 {
    color: #fff;
    font-size: 50px;
    margin-bottom: 30px;
}

#mainSlider .carousel-caption p {
    font-size: 22px;
    font-weight: 300;
    margin-bottom: 100px;
    color: #fff;
}

.main-btn {
    background-color: var(--primary-color-blue);
    color: var(--primary-color-dark);
    text-transform: uppercase;
    text-decoration: none;
    width: 200px;
    height: 60px;
    padding: 10px 20px;
    border-radius: 30px;
    border: 3px solid transparent;
    transition: .5s;
}

.main-btn:hover {
    text-decoration: none;
    color: #fff;
    background-color: transparent;
    border-color: var(--primary-color-blue);
}

.carousel-indicators .active {
    background-color: var(--primary-color-blue);
}

.sr-only {
    display: none;
}

/* Sobre a empresa */

#about-area{
    background-color: #f9f9f9;
}

.main-title {
    color: #444;
    position: relative;
    margin: 0 0 65px 0;
    font-size: 40px;
    text-align: center;
}

.main-title::after {
    content: "";
    border-top: 2px solid #333;
    width: 15%;
    position: absolute;
    top: 60px;
    left: 42.5%;
}

.about-title {
    font-size: 17px;
    color: #444;
    text-transform: uppercase;
    font-weight: bold;
}

#about-list {
    list-style: none;
    padding-left: 0;
}

#about-list li {
    line-height: 30px;
}

#about-list i {
    color: var(--primary-color-blue);
    margin-right: 15px;
}

/* Serviços */

.service-box {
    text-align: center;
    margin-bottom: 50px;
}

.service-box i, .service-box h4 {
    transition: .5s;
}

.service-box i {
    font-size: 36px;
    margin-bottom: 26px;
    color: #444;
}

.service-box h4 {
    font-size: 24px;
    margin-bottom: 20px;
}

.service-box:hover > i, .service-box:hover > h4 {
    color: var(--primary-color-blue);
}

/* Trabalhe conosco */

#apply-area {
    height: 500px;
}

#apply-area .container-fluid, #apply-area .row {
    height: 100%;
}

#apply-area .apply-box {
    text-align: center;
    padding: 70px 50px;
}

#company-img {
    background-image: url('../img/empresa.jpg');
    background-size: cover;
    height: 100%;
}

#pattern-img {
    background-image: url('../img/pattern.png');
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
}

#pattern-img h4, #pattern-img p {
    color: #fff;
}

#pattern-img h4 {
    margin-top: 8%;
    margin-bottom: 20px;
    text-transform: uppercase;
}

#pattern-img p {
    margin-bottom: 20px;
}

#apply-btn {
    color: #fff;
    display: block;
    height: auto;
    width: 180px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    background-color: transparent;
    border-color: #fff;
}

#apply-btn:hover {
    color: var(--primary-color-dark);
    border-color: var(--primary-color-blue);
    background-color: var(--primary-color-blue);
}

/* News Letter */

#news-area {
    text-align: center;
    background-color: #f9f9f9;
}

#news-area p {
    font-size: 18px;
    margin-bottom: 40px;
}

#id-email{
    border-radius: 0;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border: 1px solid var(--primary-color-blue);
    display: inline;
    box-sizing: border-box;
    width: 40%;
    height: 40px;
}

#news-btn {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border: 1px solid var(--primary-color-blue);
    background-color: var(--primary-color-blue);
    text-transform: uppercase;
    color: #fff;
    height: 40px;
    padding: 0 30px;
    margin-left: -130px;
    position: absolute;
    transition: .5s;
}

#news-btn:hover {
    background-color: #fff;
    color: var(--primary-color-blue);
}

/* Call to action */

#call-area {
    background-color: var(--primary-color-blue);
    text-transform: uppercase;
}

#call-area .container {
    padding: 40px 100px;
}

#call-area .row {
    display: block;
    text-align: center;
}

#call-area p {
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    width: auto;
    letter-spacing: 2px;
    margin-bottom: 0;
    display: inline;
    height: 60px;
    line-height: 60px;
}

#call-area #call-btn {
    background-color: #fff;
    color: var(--primary-color-blue);
    font-weight: bold;
    font-size: 20px;
    margin-left: 30px;
    width: auto;
    letter-spacing: 2px;
}

/* Contact */

#contact-area {
    text-align: center;
}

.contact-box {
    padding-bottom: 50px;
    margin-bottom: 50px;
}

.contact-box i {
    color: #444;
    width: 55px;
    height: 55px;
    line-height: 55px;
    font-size: 24px;
    margin-bottom: 20px;
}

#msg-box p {
    font-size: 22px;
}

.contact-box p {
    font-size: 16px;
}

.contact-title {
    font-weight: bold;
    color: var(--second-color-blue);
}


#contact-form input[type="text"], #contact-form input[type="email"], #contact-form textarea {
    margin-bottom: 15px;
    border-radius: 0;
}

#contact-form .main-btn {
    width: 120px;
    height: 50px;
}

#contact-form .main-btn:hover {
    color: var(--second-color-blue);
}

/* Footer */

#footer {
    padding: 3em 2em;
    background-color: var(--primary-color-dark);
}

#news-container {
    padding-right: 2em;
}

#links-container {
    padding: 0 2em;
    text-align: center;
    border-left: 1px solid var(--second-color-gray);
    border-right: 1px solid var(--second-color-gray);
}

/* Footer Top */

#footer-top {
    margin-bottom: 2em;
}

#footer-top {
    color: #fff;
}

#social-icons {
    color: var(--second-color-gray);
    text-align: center;
    margin-right: 1em;
    font-size: 1.5em;
    cursor: pointer;
}

#social-icons i {
    padding: 0 10px;
}

#social-icons i:hover {
    color: #fff;
    transition: .5s;
}

.footer-p {
    color: var(--second-color-gray);
    text-align: center;
}

/* Footer Details */

#footer-details {
    margin-bottom: 3em;
}

#footer-details h4 {
    color: #fff;
    margin-bottom: 1.5em;
    text-align: center;
}

#news-container input {
    border-radius: 30px;
    border: none;
}

#links-container li {
    margin-bottom: 0.5em;
}

#form-btn {
    background-color: var(--primary-color-blue);
    color: var(--primary-color-dark);
    text-decoration: none;
    text-transform: uppercase;
    width: 30%;
    height: 50%;
    padding: 5px 10px;
    border-radius: 30px;
    border: 1px solid transparent;
    transition: .5s;
}

#form-btn:hover {
    text-decoration: none;
    color: #fff;
    background-color: transparent;
    border-color: var(--primary-color-blue);
}

.link-footer {
    color: var(--primary-color-gray);
    text-decoration: none;
    text-align: center;
}

.link-footer:hover {
    color: #fff;
    transition: .5s;
}

/* Footer Bottom */

#footer-bottom {
    border-top: 1px solid var(--second-color-gray);
    padding-top: 2em;
}